<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add todo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
</head>

<body class="d-flex flex-column vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/add-to-do">Add todo</a>
                    <a class="nav-link" active href="/get-all-user">Users</a>
                </div>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(req.user) %>
                    <a class="nav-link" href="/get-to-do">
                        <%= req.user.username %>
                    </a>
                    <a class="nav-link" href="/log-out">Log out</a>
            </div>
        </div>
    </nav>
    <main class="container mt-5">

        <div class="row">
            <div class="col-6">
                <h2>Add a new todo</h2>
                <form action="/add-to-do" method="post">
                    <div class="card">
                        <div class="card-header">
                            <label for="name">Todo name: </label>
                            <input class="card-title" type="text" name="name" id="name" size="40">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <textarea class="card-text" name="description" id="description" cols="65" rows="5"
                                    placeholder="Description"></textarea>
                            </div>
                            <div class="py-3">
                                <label for="dateofcompletion">This task must be done before: </label>
                                <input type="datetime-local" name="dateofcompletion" id="dateofcompletion">
                            </div>
                            <button class="btn btn-primary">Save to-do</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </main>
    <footer class="footer bg-dark py-3 mt-auto">
        <div class="container">
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>